{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to the Team!</h1>
<h4>At AAAJile Development, we are a team of passionate college students committed to making a difference in the world. We designed our service with the simple goal of
    connecting people with the causes they care about. Our team is made up of individuals from diverse backgrounds, each with a unique set of skills and experiences.
    Though, we all share a belief in the power of philanthropy to create positive change.</h4>
<h4>We created PhilanthropyPhinder because we saw a need for a more user-friendly and accessible platform for finding and supporting charities. We believe that everyone has
    the power to make a difference, but that finding the right nonprofit to support can be overwhelming and time-consuming. Our platform is designed to simplify the process
    by providing a comprehensive list of nonprofits and an easy-to-use search function.
Our platform is constantly evolving and improving, as we strive to provide the best possible experience for our users by consistently incorporating user feedback into our
    platform. We plan to utilize changing technology to improve the communication between philanthropic individuals in our communities. We believe that by working together,
    we can make a real difference in the world and create a more just and equitable society for all. <br> Thank you for choosing PhilanthropyPhinder as your resource for
    social good. We're honored to have you as part of our community, and we look forward to continuing to work together to make a positive impact in the world.</h4>

<div><img src="https://as1.ftcdn.net/v2/jpg/00/49/22/40/1000_F_49224094_FJ1XuQg4ctxoPeaS5VpiUUzwNnI3xJH3.jpg"></div>
{% endblock content %}