{% extends "layout.html" %}
{% block content %}
    {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
<h1 style="text-align:center;"> PhilantropyPhinder</h1>
<h2 style="text-align:center;"> A world of impact, at your fingertips!</h2><br>
<div>Welcome to PhilanthropyPhinder, your go-to resource for discovering and connecting with charities and nonprofit organizations in your community. Our mission is to make it
    easy for anyone to find and support causes they care about, and to help nonprofits and charitable organizations connect with passionate individuals within their communities</div>
<br>
<div>Our platform is designed to be user-friendly and accessible, with a simple search function that lets you quickly find charities based on location and cause.
    You can browse a simple profile of each organization, consisting of their name, address, distance and cause</div>
<br>
<div>At PhilanthropyPhinder, we believe that everyone has the power to make a difference. Whether you're looking to support a local charity, get involved with a national
    cause, or connect with others who share your passion for giving back, we're here to help you find your way</div>
<br>
<div><img style="max-width: 100%" src="https://www.pngkey.com/png/detail/50-504841_bowl-of-olive-oil.png" alt="OilBowl"></div><br>
    {% endif %}
{% endblock content %}