{% extends "layout.html" %}

{% block content %}
  <h1>Search Form</h1>
<p>Search for charities near you that align with your values. Enter your location and preferred charity category, and we'll provide you with a list of nonprofits in your area.
    Your privacy is our top priority, and your address is never saved in our system.</p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">Street
     <!-- {{ form.street.label }}-->
      {{ form.street(class_="form-control") }}
    </div>
    <div class="form-group">City
      <!--{{ form.city.label }}-->
      {{ form.city(class_="form-control") }}
    </div>
    <div class="form-group">State
      <!--{{ form.state.label }}-->
{{ form.state(choices=form.state_choices, class_="form-control") }}
    </div>
    <div class="form-group">Zip Code
      <!--{{ form.zip_code.label }}-->
      {{ form.zip_code(class_="form-control") }}
    </div>
    <div class="form-group">
      {{ form.category.label }}
      {{ form.category(choices=form.category_choices, class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
{% endblock %}
